langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
Wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence_transformers
langchain_huggingface
Faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
pydantic<2.0.0
Wikipedia
duckduckgo-search
huggingface_hub #Api call from huggingface
validators==0.28.1  #help in validating the url
youtube_transcript_api
unstructured